
<mat-form-field appearance="fill">
  <mat-label>Enter your name</mat-label>
  <input matInput type="text" placeholder="name" [(ngModel)]="name">
</mat-form-field>
  <br>
  <br>
  <mat-form-field appearance="fill">
  <mat-label>Enter your password</mat-label>
  <input matInput type="password" placeholder="password" [(ngModel)]="pwd">
</mat-form-field>
<br>
<button mat-raised-button color="accent">login</button>
&nbsp;
<button mat-raised-button color="accent">signup</button>
&nbsp;
<br>
<br>
<a mat-stroked-button href="#" target="_blank">forgot Password</a>
