
  .stylee {
    background-image: url("../../assets/images/about.jpg");
    background-repeat: no-repeat;
    background-size: 1400px 1000px;
    height: 660px;
    opacity: .5;
  }
  .padding5050{
    padding-left: 80px;
    padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 30px;
  font-size: 80px;
  }
  