<div class="bg1 height100width100 ">
      <header><div class=" paddingtop font200" style="text-align: center; color: blanchedalmond;" >
        <b >Welcome to Learners spot</b> </div>
        <button mat-flat-button class="button1" color="accent" style="float: right;" (click)="contactClicked()">Contact</button>
        <button mat-flat-button class="button1" color="accent" style="float: right;" (click)="aboutClicked()">About</button>
        <button mat-flat-button class="button1" color="accent" style="float: right;" (click)="loginClicked()">Courses</button>
      </header>
  

  <div class=" paddingtop paddingright paddingleft " style="margin-top: 64px;">
    <div class=" bggreen  font145  height100width100 padding5050 " >
      <div><b><i>We provide you with one of the best sites to learn your favorite subjescts for free.</i></b></div>
        <br>
  <!-- <form class="example-form">-->
    <mat-form-field class="example-full-width">
      <mat-label>Enter name</mat-label>
      <input matInput type="text" placeholder="welcome" [(ngModel)]="userName">
    </mat-form-field> 
  
  <br>
  <!-- <br>
  <mat-form-field appearance="fill">
  <mat-label>Enter your password</mat-label>
  <input matInput type="password" placeholder="password" [(ngModel)]="password">
</mat-form-field> -->
<br>

&nbsp;
&nbsp;

<!-- <button mat-flat-button  color="accent" style="float: right;" (click)="loginClicked()">Login</button> -->
<!-- 
<mat-checkbox class="example-margin" style="float: right;">Remember Me</mat-checkbox>
<br>
<br>
<div style="padding-left: 96px;">Forgot Password?</div> -->
<!-- </form> -->
</div>
</div>
</div>


