<div class="example-card">
    <h2 style="text-align: center;">Contact Us</h2>
    <div class="stylee">
        
      
        <div class=" paddingtop paddingright paddingleft ">
            <div class=" bggreen  font145  height100width100 padding5050 " >
              
                <form class="example-form">
                  
                    <table class="example-full-width" cellspacing="0"><tr>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>First name</mat-label>
                        <input matInput>
                      </mat-form-field></td>
                      <td><mat-form-field class="example-full-width">
                        <mat-label>Long Last Name That Will Be Truncated</mat-label>
                        <input matInput>
                      </mat-form-field></td>
                    </tr></table>
                  
                    <p>
                        <td><mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput maxlength="20">
                          </mat-form-field></td>
                        <td>  <mat-form-field class="example-full-width">
                            <mat-label>Telephone</mat-label>
                            <span matPrefix>+91 &nbsp;</span>
                            <input type="tel" matInput  maxlength="10">
                            <mat-icon matSuffix>mode_edit</mat-icon>
                          </mat-form-field></td>
                      <mat-form-field class="example-full-width">
                        <mat-label>Message</mat-label>
                        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
                      </mat-form-field>
                      <button mat-flat-button class="button1" color="accent" style="float:right ;" (click)="backClicked()">Back</button>
                      <button mat-flat-button class="button1" color="accent" style="float:left ;" (click)="submitClicked()">Submit</button>
        
                    </p>
                  
                  </form>
                  
          
        </div>
        </div>
     
    </div>
</div>
  